:root{
  font-size: 20px;
}
*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  background-color: rgba(228, 228, 228, 0.945);
}
/* a:-webkit-any-link{
  color: wheat;
}
#container p:last-child{
  background-color: aquamarine;
}
#container p:nth-child(2){
  background-color: aqua;
}
#container p:nth-child(2):focus{
  color: white;
}
#container>p{
  background-color: pink;
  font-size: 1.5rem;
}
#container p+p{
  background-color: chartreuse;
} */
table{
  min-width: 800px;
  width: 70%;
  border: none;
  margin: auto;
  border-collapse: collapse;
}
th,
td{
  border: 2px solid;
}
li:nth-child(even){
  background-color: coral;
}
li:nth-child(odd){
  background-color: darkkhaki;
}
li:nth-child(3n+2){
  background-color: darkolivegreen;
}