body{
  background-color: rgba(228, 228, 228, 0.945);
}
section{
  text-align: center;
}
img{
  box-sizing: border-box;
  height: 150px;
  width: 250px;
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
  background-color: white;
}