img{
  box-sizing: border-box;
  width: 200px;
  border: 10px solid darkolivegreen;
  border-bottom: none;
  border-left-style: groove;
  padding: 20px 50px 5px 0;
  margin: 30px;
  background-color: aqua;
}
span{
  border: 6px solid blue;
  padding: 30px;
  margin: 30px;
}
div{
  box-sizing: border-box;
  width: 300px;
  border: 6px solid greenyellow;
  padding: 30px;
  margin: 30px;
}